.card-img-top {
    width: 100%;
    /* height: 15vi; */
    object-fit: cover;
}

/* .carousel-item img {
    height: 500px; 
    object-fit: cover;
    object-position: center; /* Zorgt dat het midden van de foto zichtbaar blijft 
} */
